<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="z-index: 0" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-body p-0 ">
                <img src="img/n.jpg" style="height: 100%;
                position: absolute;right: 0;" class="d-none d-md-block">

                <% include navbar.ejs %>

                <div id="modal-center" class="text-white row pt-5 pl-5 big-font">
                    <div class="col-md-3 col-sm-12 text-center mb-5" data-aos="fade-right" data-aos-duration="1000">
                        <span class="sm-font">PROJECTS</span>
                        <br>
                        <div id="menu-items" class="d-none d-md-block">
                            <% for(var j=0;j<paintSets.length;j++) { %>
                            <% if (paintSets[j].name !== 'Single Shots') {%>
                            <hr class="bg-white">
                            <a class="text-white md-font" style="text-decoration:none" href="/<%= paintSets[j].name %>">
                                <%= paintSets[j].name %></a>
                            <br>

                            <% } %>
                            <% if(j==2) break; } %>
                        </div>
                        <a href="/projects" id="clickme" class="btn btn-lg text-white
                             float_center hvr-shutter-in-horizontal border-secondary">
                            <span id="clickme-text">See All...</span>
                        </a>
                        <br>
                    </div>
                    <div class="border-right"></div>
                    <div class="col-md-3 col-sm-12 text-center" data-aos="fade-left" data-aos-duration="1000">
                        <span class="sm-font">SINGLE SHOTS <br> </span>
                        <a href="/Single Shots" id="clickme" class="btn btn-lg text-white
                             float_center hvr-shutter-in-horizontal border-secondary">
                            <span id="clickme-text">See All...</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>