<nav class="navbar navbar-expand-lg navbar-light bg-transparent sticky-top text-white" style="z-index: 3">
    <div class="container my-4">
        <a class="navbar-brand pb-md-3"
           style="font-size: 2.5rem;letter-spacing: 6px;text-decoration: none" href="/">
            <span class="text-white">AKBAR ZAHERI</span></a>
        <div class="hamburger hamburger--arrowturn" data-toggle="modal" data-target="#exampleModal">
            <p href="#" class="nav-link d-none d-md-inline-block">Menu</p>
            <span class="hamburger-box">
                    <span class="hamburger-inner "></span>
                </span>
        </div>
    </div>
</nav>