<% include ./partials/header.ejs %>

<div class="sec">
    <div class="circle_s outer dark-green">
        <div class="circle_s middle light-yellow animate-flicker">
            <div class="circle_s inner bordeaux clickme text-center">
                <p class="clickme md-font text-white pt-5 pl-1">Enter <br>My World</p>
            </div>
        </div>
    </div>
</div>

<% include ./nonSplash.ejs %>


<% include ./partials/footer.ejs %>
