.gugul-1 {
  display: inline-block;
  height: 100px;
  width: 100px;
  font-size: 1px;
  padding: 1px;
  color: white;
  border-radius: 10%;
  margin-right: 5px;
  margin-left: 5px;
  animation: roll 3s infinite;
  transform: rotate(30deg);
  opacity: 1; }

.gugul-2 {
  display: inline-block;
  height: 100px;
  width: 100px;
  font-size: 1px;
  padding: 1px;
  color: white;
  border-radius: 10%;
  margin-right: 5px;
  margin-left: 5px;
  animation: roll 4s infinite;
  transform: rotate(60deg);
  opacity: 1; }

.gugul-3 {
  display: inline-block;
  height: 100px;
  width: 100px;
  font-size: 1px;
  padding: 1px;
  color: white;
  border-radius: 10%;
  margin-right: 5px;
  margin-left: 5px;
  animation: roll 5.5s infinite;
  transform: rotate(90deg);
  opacity: 1; }

@keyframes roll {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
